<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    <h2>Edit Show {{show.id}}</h2>
    <a href ="/shows">Go Back</a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}
                        class ="{{ message.tags }}"
                    {% endif %}>
                {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/shows/{{show.id}}/edit" method="post">
        {% csrf_token %}
        <label>Title <input type="text" name="title" value="{{show.title}}"></label>
        <label>Network <input type="text" name="network" value="{{show.network.name}}"></label>
        <label>Release Date<input type="date" name="date" value="{{show.release_date|date:'Y-m-d'}}"></label>
        <label>Description<textarea type="text" name="desc" cols="30" rows="10" class="form-control">{{show.desc}}</textarea></label>
        <button>Update</button>
    </form>
    <a href="/shows/{{show.id}}">Go to Show</a>
    <a href="/shows">Shows</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>